@inherits LayoutComponentBase

<div class="page">
    <!-- Main content -->
    <div class="main">
        <header class="top-row d-flex justify-content-between align-items-center mb-4">

        </header>

        <div class="content">
            @Body
        </div>
    </div>
</div>

@code {
    private bool sidebarCollapsed = false;

    private void ToggleSidebar() => sidebarCollapsed = !sidebarCollapsed;
}
